@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif
}

body {
    background-image: linear-gradient(to bottom, #1B2CC1, #202a86)
}

main {
    background-color: white;
    width: 600px;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #081135bd;
}

h1 {
    color: #F18F01;
    text-align: center;
    text-shadow: 1px 1px 1px #be7200c0;
}

h2 {
    color: #1f89a3;
}

p {
    text-align: justify;
}